/*
 *  Footer node component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------

.form-button() {
  margin: 0;
  padding: 3px 10px 0;
  height: 24px;
  font-family: @pxl-text-font-bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  text-transform: lowercase;
  color: white;
  outline: none;
  #pxl-mixins.border-radius(0);
  border: 2px solid @pxl-color-main;
  background-color: @pxl-color-main;

  &:hover {
    color: @pxl-color-main;
    background-color: white;
  }

  @media @narrow {
    padding: 0 12px;
    height: 28px;
    font-size: 14px;
    line-height: 14px;
  }
  @media @normal {
    padding: 0 15px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
  }
}


// General settings
// -------------------------
.node.node-footer {
  min-height: 50px;

  div.col-sm-12, .col-sm-4 {
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;

    .field-name-field-impressum {
      .field-item {
        text-align: center;

        a {
          display: inline-block;
          font-family: @pxl-text-font;
          #pxl-mixins.font-size-responsive(16px);
          letter-spacing: 1.2px;
          text-transform: lowercase;
          color: white;
        }
      }
    }

    .field-name-title {
      .field-item {
        text-align: center;

        h2 {
          display: inline-block;
          margin: 0;
          font-family: @pxl-text-font;
          #pxl-mixins.font-size-responsive(16px);
          letter-spacing: 1.2px;
          text-transform: lowercase;
          color: white;
        }
      }
    }

    .field-name-field-block {
      .field-item {
        margin: 15px auto 0;
        text-align: center;

        .call2action-menu(white, @pxl-color-gray);
      }
    }

    .field-name-follow-site {
      .field-item {
        text-align: center;
        // see block-social.less
      }
    }

    @media @tablet {
      .field-name-field-impressum {
        .field-item {
          text-align: left;
        }
      }

      .field-name-follow-site {
        .field-item {
          text-align: right;
          // see block-social.less
        }
      }
    }

  }

}
