/*
 *  Footer node component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------

.form-button() {
  margin: 0;
  padding: 3px 10px 0;
  height: 24px;
  font-family: @pxl-text-font-bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  text-transform: lowercase;
  color: white;
  outline: none;
  #pxl-mixins.border-radius(0);
  border: 2px solid @pxl-color-main;
  background-color: @pxl-color-main;

  &:hover {
    color: @pxl-color-main;
    background-color: white;
  }

  @media @narrow {
    padding: 0 12px;
    height: 28px;
    font-size: 14px;
    line-height: 14px;
  }
  @media @normal {
    padding: 0 15px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
  }
}


// General settings
// -------------------------
.node.node-footer {
  min-height: 50px;

  div.col-sm-12, .col-sm-4 {
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;

    .field-name-field-impressum {
      .field-item {
        text-align: center;

        a {
          display: inline-block;
          font-family: @pxl-text-font;
          #pxl-mixins.font-size-responsive(16px);
          letter-spacing: 1.2px;
          text-transform: lowercase;
          text-decoration: none;
          color: white;

          &:hover, &.active, &.checked {
            color: @pxl-color-gray;
          }
        }
      }
    }

    .field-name-title {
      .field-item {
        text-align: center;

        h2 {
          display: inline-block;
          margin: 0;
          font-family: @pxl-text-font;
          #pxl-mixins.font-size-responsive(16px);
          letter-spacing: 1.2px;
          text-transform: lowercase;
          color: white;
        }
      }
    }

    .field-name-field-block {
      .field-item {
        margin: 0;
        text-align: center;

        ul.nav {
          li {
            display: block;
            float: none;
            padding: 0;
            line-height: 1;

            a, span {
              cursor: pointer;
              display: inline-block;
              padding: 10px 0;
              font-family: @pxl-text-font;
              #pxl-mixins.font-size-responsive(16px);
              letter-spacing: 1.2px;
              text-transform: lowercase;
              text-decoration: none;
              line-height: 1;
              color: white;
              outline: none;
              background: none;

              &:hover, &.active, &.checked {
                color: @pxl-color-gray;
              }
            }

            &.menu-donate {
              >a, >span {
                padding: 0 5px 2px;
                line-height: 1.2;
                #pxl-mixins.border-radius(0);
                border: 2px solid white;
                background: none;

                &:hover, &.active, &.checked {
                  color: @pxl-color-gray;
                  border: 2px solid @pxl-color-gray;
                }

                @media @tablet {
                  padding: 0 10px 2px;
                }
              }
            }
          }
        }
      }
    }

    .field-name-follow-site {
      .field-item {
        text-align: center;
        // see block-social.less
      }
    }

    @media @tablet {
      .field-name-field-impressum {
        .field-item {
          text-align: left;
        }
      }

      .field-name-follow-site {
        .field-item {
          text-align: right;
          // see block-social.less
        }
      }
    }

  }

}
