/*
 *  Node donate component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-donate {
  margin: 30px auto;
  max-width: 800px;

  .row {
    .col-sm-12 {
      @media @tablet {
        padding-right: 10%;
      }

      >.field-name-title {
        h2 {
          #pxl-mixins.title();
        }
      }

      >.field-name-body {
        margin: 0 0 80px;
        #pxl-mixins.wysiwyg-body();
      }


      .field-name-field-account-details {
        margin: 30px auto 0;
        #pxl-mixins.wysiwyg-body();

        p {
          font-family: @pxl-text-font-light;
          line-height: 22px;
        }
      }
    }
  }
}

