/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-page.view-mode-full,
.node.node-page.view-mode-default {
  margin: 30px auto;

  body:not(.page-node-1460, .page-node-1461, .page-node-1508) & {
    max-width: 800px;
  }

  >.row {
    >div.col-sm-12 {

      >.field-name-title {
        h2 {
          #pxl-mixins.title();
        }
      }

      >.field-name-body {
        margin: 0 0 80px;
        #pxl-mixins.wysiwyg-body();
        #pxl-mixins.ckeditor-accordion-container();

        dl > dd {
          body.page-node-51 &, body.page-node-52 &, body.page-node-1482 & {
            // argument page (de, fr, it)
            .content-columns(1, @grid-gutter-width);
          }
        }
        @media @tablet {
          dl > dd {
            body.page-node-51 &, body.page-node-52 &, body.page-node-1482 {
              // argument page (de, fr, it)
              .content-columns(2, @grid-gutter-width);
            }
          }
        }
      }

      >.paragraphs-items {
        >.field-name-field-paragraphs {
          >.field-items {
            >.field-item:not(:last-child) {
              margin-bottom: @paragraph-margin-bottom;

              @media @tablet {
                margin-bottom: @paragraph-margin-bottom-large;
              }


              // see paragraph-item-... less files
            }
          }
        }
      }

    }
  }
}
