/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: 50px !important;

  &.admin-menu {
    padding-top: 50px !important;
  }

  @media @narrow {
    padding-top: 50px !important;

    &.admin-menu {
      padding-top: 50px !important;
    }
  }
  @media @tablet {
    padding-top: 65px !important;

    &.admin-menu {
      padding-top: 65px !important;
    }
  }
  @media @normal {
    padding-top: 80px !important;

    &.admin-menu {
      padding-top: 80px !important;
    }
  }
}


header#navbar {
  margin: 0;
  border-bottom: none;
  background: white none;
  //#pxl-mixins.box-shadow(0 4px 3px -4px gray);

  .navbar-top-container > .container {
    position: relative;
    padding: 0 @grid-gutter-width / 2;
    height: auto;

    .navbar-meta {
      position: relative;
      top: -10px;
      right: 0;
      z-index: 10;

      .block-locale {
        position: absolute;
        right: 0;
        top: @grid-gutter-width / 2;

        // see block-language.less

      }
    }

    .navbar-header {
      position: relative;
      float: none;
      margin: 0;
      text-align: left;

      // header (branding)
      a.logo {
        display: inline-block;
        margin: 10px 0;
        padding: 0;
        outline: none;

        img {
          margin: 0;
          width: auto;
          height: 30px;
          max-width: 100%;
          max-height: none;
        }

        @media @narrow {
          img {
            height: 30px;
          }
        }
        @media @tablet {
          img {
            height: 45px;
          }
        }
        @media @normal {
          img {
            height: 60px;
          }
        }
      }

      .navbar-toggle {
        // navbar toggle with burger
        float: none;
        #pxl-mixins.center-vertically(absolute);
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 30px;
        color: @pxl-color-main;
        border: none;
        background: none;

        &:hover {
          color: @pxl-color-active;
        }
      }

    }

    // mobile collapse part
    .navbar-collapse {
      padding: 5px 0;
      background: none;

      nav {
        text-align: center;
        width: 100%;

        // main menu
        ul.menu {
          display: inline-block;
          float: none;
          margin: 0 auto;
          padding: 0;
          width: auto;
          line-height: 1;

          >li {
            display: block;
            float: none;
            padding: 0;
            line-height: 1;

            a, span {
              cursor: pointer;
              display: inline-block;
              padding: 15px 20px;
              font-family: @pxl-text-font-bold;
              font-size: 40px;
              line-height: 1;
              color: @pxl-color-main;
              outline: none;
              background: none;

              &:hover, &.active, &.checked {
                color: @pxl-color-active;
              }
            }

            &.last {
              a, span {
                cursor: pointer;
                display: inline-block;
                margin-left: 0;
                padding: 5px 5px 3px;
                font-family: @pxl-text-font-bold;
                line-height: 1;
                letter-spacing: 1px;
                color: white;
                outline: none;
                border: 1px solid @pxl-color-main;
                #pxl-mixins.border-radius(0);
                background: @pxl-color-main;

                &:hover, &.active, &.checked {
                  color: @pxl-color-main;
                  background: white;
                }
              }
            }
          }
        }
      }

      @media @tablet {
        //#pxl-mixins.center-vertically(absolute);
        position: absolute;
        bottom: 12px;
        right: @grid-gutter-width / 2;
        padding: 0;
        width: 60%;

        nav {
          text-align: right;

          ul.menu {
            width: 100%;
            text-align: right;

            li {
              display: inline-block;
              margin-left: 15px;

              a, span {
                padding: 3px 0;
                font-size: 18px;
              }
              &.last {
                a, span {
                  padding: 3px 10px 3px;
                  border: 2px solid @pxl-color-main;
                }
              }
            }
          }
        }
      }
      @media @normal {
        bottom: 15px;

        nav {
          ul.menu {
            li {
              a, span {
                padding: 3px 0;
                font-size: 24px;
              }
            }
          }
        }
      }
      @media @wide {
        width: 45%;
      }
    }
  }
}

